@model Billboard.UI.Models.Board.BoardView 

@{
    ViewBag.Title = Model.Event.Name;
    Layout = "/Views/Shared/_Board.cshtml";
}

@section Head{
    <script src="/Script/frameworks/jquery.1.8.3.min.js"></script>
    <script type="text/javascript">

        var messages = [];
        var currentIndex = 0;
        var maxMessage = @Model.Event.MessagesDisplayedAtOnce;

        $(function() {
            GetMessages();
            setInterval(GetMessages, 30000);
            
            UpdateUI();
            setInterval(UpdateUI, 10000);
        });

        function UpdateUI() {

            if (messages.length > 0) {

                var message = messages.shift();
                $('<div>').attr('class','first').html('<h2>' + message.From + ' - ' + message.Time +'</h2><p>' + message.Message + '</p>')
                    .hide()
                    .prependTo('div.messages')
                    .fadeIn('slow')
                    .delay(8000)
                    .fadeOut('slow', function() {
                        //var self = $(this);

                        //self.css('class', 'message')
                        //    .delay(2000)
                        //    .fadeIn('slow');
                    });

                //$('div.messages div.first').fadeOut('fast', function() {
                //    //$('div.messages div.first').attr("class","message").fadeIn('slow', function() {
                //    //    var msg = $('div.messages div');

                //    //    if (msg.length > maxMessage ) {
                //    //        msg.last().fadeOut('slow').remove();
                //    //    }
                //    //});
                //});
                

            }
        }

        function GetMessages() {
            var id = @Model.Event.Id;
            
            $.post('/board/messages/?id=' + id, function(data) {

                for (var index = 0; index < data.length; index++) {

                    messages[messages.length] = data[index];
                }
            });
        }

    </script>
}

<div class="messages" >
</div>

