@model dynamic

@{
    ViewBag.Title = "";
    Layout = "/Areas/Dashboard/Views/Shared/_ModalLayout.cshtml";
}

@section Head{
    
    <style type="text/css" >
        input.start{ width: 80px; }
        input.end{ width: 80px; }
    </style>

    <script type="text/javascript" >
        $(function () {
            $('input#datestart').datepicker({
                'dateFormat': 'm/d/yy',
                'autoclose': true
            });

            $('input#dateend').datepicker({
                'dateFormat': 'm/d/yy',
                'autoclose': true
            });

            $('input#timestart').timepicker();
            $('input#timeend').timepicker();

            $('a#getnumber').click(function () {
                var spinner = $('img#spinner');
                spinner.show();
                $.post('/api/getnumber', function (data) {
                    $('input#formatted').val(data.Formatted);
                    $('input#number').val(data.Number);

                    spinner.hide();
                });
            });
        });
    </script>

    <script src="~/Script/plugins/datepicker/base.js"></script>
    <link href="~/Script/plugins/datepicker/base.css" rel="stylesheet" />
    <script src="~/Script/plugins/timepicker/jquery.timepicker.min.js"></script>
    <link href="~/Script/plugins/timepicker/jquery.timepicker.css" rel="stylesheet" />
}

    <h2>Edit Event</h2>

    @using (Html.BeginForm())
    {
       
        <p>
            <label>Name</label>
            <input type="text" name="name"  />
        </p>

        <p>
            <label>Message</label>
            <textarea name="message" ></textarea>
        </p>
        
        <p>
            <label>Timezone</label>
            @Html.DropDownList("timezone")
        </p>
        
        <p>
            <label>Start</label>
            <input type="text" id="datestart" name="datestart" class="date start" />
            <input type="text" id="timestart" name="timestart" class="time start" /> 
        </p>
        <p>
            <label>End</label>
            <input type="text" id="dateend" name="dateend" class="date end" />
            <input type="text" id="timeend" name="timeend" class="time end" />
        </p>
        
        <p>
            <label>Number</label>
            <input id="formatted" readonly="readonly" type="text" name="formatted"  /> <a id="getnumber" href="#">Get Number</a> <img id="spinner" style="display: none;"  src="/Content/images/spinner.gif" />
            <input id="number" type="hidden" name="number" />
        </p>

        <input type="submit" class="btn" value="Save" />
        <input type="submit" class="btn" value="Cancel" />
    }