<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="UTF-8" />
    <title>Chuck and Erin's Wedding</title>

    <link rel="stylesheet" href="/Content/css/style.css" />
    @RenderSection("Head", required: false)
</head>

<body>
    @RenderBody()
</body>
</html>
