@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<p>
    <label>Username</label>
    <input type="text" name="username" />
</p>

<p>
    <label>Password</label>
    <input type="text" name="password"  />
</p>

<p>
    <label>Confirm</label>
    <input type="text" name="confirm"  />
</p>

<p>
    <label>Display Name</label>
    <input type="text" name="displayname"   />
</p>

<input type="submit" name="Create" />