body {
    background-color: #000;
    color: #fff;
}

div.messages { width: 800px; position: fixed;
  top: 50%;
  left: 50%;
    margin-left: -300px;
    margin-top: -200px;
}
div.messages h1 { margin-bottom: 0;}
div.messages h1, div.messages h2 { text-align: center;}
div.messages h2 { text-align: center;margin: 0;padding: 0; }
div.message h2 {margin: 0;padding: 0; font-size: 18px;font-weight: bold;color: #999;text-align: left;}
div.message p {margin: 0;padding: 0; font-size: 30px;color: #ddd;}

div.message, div.first { margin-bottom: 25px;}

div.first p {margin: 0;padding: 0; font-size: 65px;}
div.first h2 {margin: 0;padding: 0; font-size: 35px;font-weight: bold;color: #999;text-align: left;}